doctype html
html
	head
		script(src="/poster.js" defer)
	body
		form(id='xml/pdf')
			.field
				label(for='format') format
				input(id='format' name='format'  list='formatList' required)
				datalist(id='formatList')
					option(value='XML')
					option(value='PDF')

			.field
				label(for='layout') layout
				input(id='layout' name='layout' list='layoutList' required)
				datalist(id='layoutList')
					option(value='Form1')
					option(value='Form2')
					option(value='Form3')
			.field
				label(for='name') name
				input(id='name' name='name' required)
			.field
				label(for='surname') surname
				input(id='surname' name='surname') 
		button(type='button' id='GetDoc' form='xml/pdf') Get Doc


